@font-face
    font-family: 'Actor'
    font-style: normal
    font-weight: 400
    src: url('../fonts/Actor.eot')
    src: local('Actor Regular'), local('Actor-Regular'), url('../fonts/Actor.eot') format('embedded-opentype'), url('../fonts/Actor.woff') format('woff')

@font-face
    font-family: 'Gafata'
    font-style: normal
    font-weight: 400
    src: url('../fonts/Gafata.eot')
    src: local('Gafata'), local('Gafata-Regular'), url('../fonts/Gafata.eot') format('embedded-opentype'), url('../fonts/Gafata.woff') format('woff')